/* importing Calibri font */
@font-face {
    font-family: JUST Sans Regular;
    src: url('fonts/JUSTSans-Regular.otf') format('opentype');
    src: url('fonts/JUSTSans-Regular.woff') format('woff');
    src: url('fonts/JUSTSans-Regular.woff2') format('woff2');
}
/* END importing Calibri font */

/* START global styles */
:root {
    --primary-color: #055757;
    --secondary-color: #032624;
    --background-color: rgb(244, 245, 238);
    --font-color: rgb(244,245,238);
  }
/* END global styles */

/* START navigation bar */
nav {
    background-color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: var(--font-color);
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
}

nav a:hover {
    background-color: var(--secondary-color);
}
/* END navigation bar*/


body {
    font-family: Calibri;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* content container for Gist embeddings */
#content-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

.project {
    background-color: var(--primary-color);
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-content {
    flex: 1;
    width: 100%;
}

.project h2 {
    margin-top: 0;
}

.project a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
}

.project a:hover {
    text-decoration: underline;
}


/*image link container for project images*/
.project-image-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 20px;
    padding: 15px; /* Add padding around the image */
    background-color: var(--background-color); /* Add a white background */
    border-radius: 15px; /* Increase border radius for a softer look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    box-sizing: border-box; /* Add padding around the image */
}

.image-link-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.image-link-container a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.image-link-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.image-link-container:hover::after {
    opacity: 1;
}

.project-image {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
    display: block; /* Ensure the image is a block element */
}

.image-link-container:hover .project-image {
    transform: scale(1.05);
}


/* headres for title and descroption */
#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

#header-content {
    flex: 1;
}

#heading h1 {
    color: var(--primary-color);
    text-align: left;
    margin-bottom: 10px;
}

/* for the resume description */
#description {
    margin-bottom: 0px;
}

#description p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/*for title photo */
#title-photo {
    flex: 0 0 auto;
    margin-left: 20px;
}

.title-photo {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

/* for portfolio buttons */
.button-container {
    display: flex;
    gap: 0px;
    margin-top: 10px;
}

.portfolio-button {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 20px;
    transition: background-color 0.3s ease;
    flex-shrink: 0;
}

.portfolio-button:hover {
    background-color: var(--primary-color);
    text-decoration: none;
}

/* media queries - to help with viewing on phone */
@media (min-width: 768px) {
    .project {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .project:nth-child(even) {
        flex-direction: row-reverse;
    }

    .project-image-container {
        flex: 0 0 calc(45% - 30px); /* Adjust for padding */
        margin: 0;
        max-width: calc(45% - 30px);
    }

    .project-content {
        flex: 0 0 50%;
    }
}
@media (max-width:  767px) {
    #header {
        flex-direction: column;
        align-items: center;
    }

    #title-photo {
        margin-left: 0;
        margin-top: 20px;
    }
}



/*For interests_page*/
.link-item {
    background-color: var(--primary-color);
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
    color: var(--font-color);
}

.link-image {
    padding: 10px;
    width: 100%;
    margin: 0 auto 20px;
    background-color: var(--background-color); /* Add a white background */
    border-radius: 15px; /* Increase border radius for a softer look */
    box-sizing: border-box; /* Add padding around the image */
}

.link-item h2 {
    margin-top: 0;
}

.link-item a {
    color: var(--font-color);
    text-decoration: none;
    font-weight: bold;
}

.link-item a:hover {
    text-decoration: underline;
}